.icon-home{background:transparent url(../../resources/images/principal_home.png) no-repeat center center;} 
.icon-collapse-all{background:transparent url(../../resources/images/collapse-all.gif) no-repeat center center;} 
.icon-expand-all{background:transparent url(../../resources/images/expand-all.gif) no-repeat center center;} 
.icon-add-btn{background:transparent url(../../resources/images/add.gif) no-repeat center center;} 
.icon-edit-btn{background:transparent url(../../resources/images/edit.gif) no-repeat center center;} 
.icon-delete-btn{background:transparent url(../../resources/images/delete.gif) no-repeat center center;} 
.icon-refresh{background:transparent url(../../resources/images/refresh.png) no-repeat center center;} 
.icon-save-btn{background:transparent url(../../resources/images/save.gif) no-repeat center center;} 
.icon-pdfv-btn{background:transparent url(../../resources/images/pdfv.gif) no-repeat center center;} 
.icon-webcam{background:transparent url(../../resources/images/webcam.gif) no-repeat center center;}
.icon-modules{background:transparent url(../../resources/images/modules.png) no-repeat center center;}